In [4]:
import pandas as pd

In [14]:
df_2019_s = pd.read_excel('AY 2019-BBE-ESP Free Response.xlsx',sheet_name=1, skiprows=1, index_col=0)
df_2020_s = pd.read_excel('AY 2020-BBE-ESP Free Response.xlsx',sheet_name=1, skiprows=1, index_col=0) 
df_2021_s = pd.read_excel('AY 2021 BBE ES&P Free Response.xlsx',sheet_name=1, skiprows=1, index_col=0)

In [15]:
df_2019_s['year'] = "2019"
df_2020_s['year'] = "2020"
df_2021_s['year'] = "2021"

In [16]:
df = pd.concat([df_2019_s,df_2020_s,df_2021_s])
df = pd.DataFrame(df)

In [17]:
df = df.rename(columns={"Did your classroom activities prepare you for co-op?": "Prepared?"})
df.head(2)

,Work Terms,College,Major,Conc,Class,Citizenship Status,Coop #,Prepared?,Do you have any suggestions on how to improve your classroom activities to prepare you for your career?,"How did your classroom activities prepare you for co-op? If they didn’t, how were you prepared for co-op?",year,Terms,Coll,Class BOT,Citizenship
Responder ID,,,,,,,,,,,,,,,
4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Y,More real world activities during the core maj...,Some classroom activities helped. Having an MI...,2019,NaN,NaN,NaN,NaN
6,201915-201925,B,Accounting,5COP,JR,Domestic,First,Y,More excel training. i think an entire class j...,MIS 200 excel portion helped me use what i did...,2019,NaN,NaN,NaN,NaN

In [25]:
prepared_counts_by_year_major = df.groupby(['year', 'Major'])['Prepared?'].value_counts().unstack(fill_value=0)


prepared_counts_by_year_major = prepared_counts_by_year_major.reset_index()


output_file_path = 'prepared_counts_with_details.xlsx'


merged_data = pd.merge(df[['year', 'Major']], prepared_counts_by_year_major, on=['year', 'Major'], how='right')
merged_data.to_excel(output_file_path, index=False)

print(f"Data exported to '{output_file_path}' successfully.")

Data exported to 'prepared_counts_with_details.xlsx' successfully.