In [1]:
import pandas as pd
import re
from collections import Counter

# Importing Data

In [30]:
df_2019_bee = pd.read_excel('AY 2019-BBE-ESP Free Response.xlsx',sheet_name=2)  
df_2020_bee = pd.read_excel('AY 2020-BBE-ESP Free Response.xlsx',sheet_name=2)  
df_2021_bee = pd.read_excel('AY 2021 BBE ES&P Free Response.xlsx',sheet_name=2)

In [31]:
# new_header = df_2019_bee.iloc[0]
# df_2019_bee = df_2019_bee[1:] 
# df_2019_bee.columns = new_header 

# new_header = df_2020_bee.iloc[0]
# df_2020_bee = df_2020_bee[1:] 
# df_2020_bee.columns = new_header 

# new_header = df_2021_bee.iloc[0]
# df_2021_bee = df_2021_bee[1:] 
# df_2021_bee.columns = new_header

In [32]:
# df_2019_bee.rename(columns={ df_2019_bee.columns[8]: "Comments" }, inplace = True)
# df_2020_bee.rename(columns={ df_2020_bee.columns[8]: "Comments" }, inplace = True)
# df_2021_bee.rename(columns={ df_2021_bee.columns[8]: "Comments" }, inplace = True)

In [33]:
df_2019_bee['year'] = "2019"
df_2020_bee['year'] = "2020"
df_2021_bee['year'] = "2021"

In [34]:
df = pd.concat([df_2019_bee,df_2020_bee,df_2021_bee])
df = pd.DataFrame(df)

In [35]:
df.head(2)

,Responder ID,Work Terms,College,Major,Conc,Class,Citizenship Status,Co-op #,What coursework did you apply most during your co-op?,year
0,4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Acct 321 and Acct 322,2019
1,6,201915-201925,B,Accounting,5COP,JR,Domestic,First,"MIS 200 (excel practice), and Individual Tax (...",2019

# Pre Processing

In [36]:
df['clean text'] = df['What coursework did you apply most during your co-op?'].str.lower()

In [37]:
df.head(2)

,Responder ID,Work Terms,College,Major,Conc,Class,Citizenship Status,Co-op #,What coursework did you apply most during your co-op?,year,clean text
0,4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Acct 321 and Acct 322,2019,acct 321 and acct 322
1,6,201915-201925,B,Accounting,5COP,JR,Domestic,First,"MIS 200 (excel practice), and Individual Tax (...",2019,"mis 200 (excel practice), and individual tax (..."

# Removing Punctuations

In [38]:
import string

In [39]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [40]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('','',punctuations))

In [41]:
df = df.fillna(" ")
df['clean text'] = df['clean text'].apply(lambda x : remove_punctuations(x))
df.head(2)

,Responder ID,Work Terms,College,Major,Conc,Class,Citizenship Status,Co-op #,What coursework did you apply most during your co-op?,year,clean text
0,4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Acct 321 and Acct 322,2019,acct 321 and acct 322
1,6,201915-201925,B,Accounting,5COP,JR,Domestic,First,"MIS 200 (excel practice), and Individual Tax (...",2019,mis 200 excel practice and individual tax even...

# Removal of Stopwords

In [42]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ananya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [43]:
STOPWORDS = set(stopwords.words('english'))

In [44]:
def remove_stopwords(text):
    return " ".join(word for word in text.split() if word not in STOPWORDS)

In [45]:
df['clean text'] = df['clean text'].apply(lambda x : remove_stopwords(x))
df.head(2)

,Responder ID,Work Terms,College,Major,Conc,Class,Citizenship Status,Co-op #,What coursework did you apply most during your co-op?,year,clean text
0,4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Acct 321 and Acct 322,2019,acct 321 acct 322
1,6,201915-201925,B,Accounting,5COP,JR,Domestic,First,"MIS 200 (excel practice), and Individual Tax (...",2019,mis 200 excel practice individual tax even tho...

# Removal of Special Characters & Numbers

In [46]:
import re
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z]'," ",text)
    text = re.sub('\s+',' ',text)
    return text

In [47]:
df['clean text'] = df['clean text'].apply(lambda x : remove_spl_chars(x))
df.head(2)

,Responder ID,Work Terms,College,Major,Conc,Class,Citizenship Status,Co-op #,What coursework did you apply most during your co-op?,year,clean text
0,4,201935-201945,B,Accounting,5COP,SR,Domestic,Third,Acct 321 and Acct 322,2019,acct acct
1,6,201915-201925,B,Accounting,5COP,JR,Domestic,First,"MIS 200 (excel practice), and Individual Tax (...",2019,mis excel practice individual tax even though ...

In [48]:
# df = df.loc[df['year']==2019]
df.columns

Index(['Responder ID', 'Work Terms', 'College', 'Major', 'Conc', 'Class',
       'Citizenship Status', 'Co-op #',
       'What coursework did you apply most during your co-op?', 'year',
       'clean text'],
      dtype='object')

# Counting by grouping

In [49]:
df['words']=df['clean text'].str.split().explode("clean text")

In [50]:
df1 = df.explode('words').groupby(['year','Major'])['words'].value_counts().reset_index(name='Frequency')

In [52]:
df1 = pd.DataFrame(df1)
df2 = df1.loc[df1['Frequency']>=8]
df2

      year      Major       words  Frequency
255   2019    Finance  accounting         12
256   2019    Finance       excel         10
257   2019    Finance     finance         10
258   2019    Finance    business          9
259   2019    Finance         mis          9
260   2019    Finance     applied          8
261   2019    Finance  coursework          8
659   2019  Marketing     courses         12
660   2019  Marketing       excel          9
661   2019  Marketing     applied          8
662   2019  Marketing        work          8
1203  2020        FIN     applied         12
1204  2020        FIN    business         11
1205  2020        FIN        coop         11
1206  2020        FIN  coursework         11
1207  2020        FIN     classes         10
1208  2020        FIN        work          9
1209  2020        FIN     courses          8
1210  2020        FIN     finance          8
1211  2020        FIN      helped          8
1212  2020        FIN  management          8
1629  2020       MKTG     applied          8
1630  2020       MKTG     finance          8
2150  2021        FIN     classes         14
2151  2021        FIN     applied         12
2152  2021        FIN       excel         11
2153  2021        FIN    business         10
2154  2021        FIN        coop          9
2155  2021        FIN  accounting          8
2156  2021        FIN      course          8
2157  2021        FIN     finance          8
2581  2021       MKTG    business         10
2582  2021       MKTG     courses          8
2583  2021       MKTG  coursework          8

# Counting all words

In [ ]:
all_words = ' '.join(df['clean text']).split()
word_frequency = Counter(all_words)

In [ ]:
type(word_frequency)

In [ ]:
word_frequency = pd.DataFrame(word_frequency,  columns=['Word', 'Frequency'])
word_frequency

In [ ]:
all_words = word_freq.size()
all_words

In [ ]:
df = pd.DataFrame.from_dict(word_frequency, orient='index', columns=['Frequency']).reset_index()
df = df.rename(columns={'index': 'Word'})

In [ ]:
df.sort_values(by='Frequency',ascending=False).head(20)